.mission__section {
  margin: auto;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  .mission__title {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;

    h2 {
      z-index: 100;
      color: #353535;
      font-weight: 500;
      font-size: 2.4em;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
      z-index: 50;
      opacity: 0.1;
    }
  }

  .mission__content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary_blue;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;

    p {
      text-align: center;
      color: #fff;
      line-height: 45px;
      font-weight: 300;
      font-size: 1em;
      position: relative;
      z-index: 100;
    }

    .overlay {
      width: 200%;
      height: 110%;
      bottom: -50%;
      right: -50%;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.05);
      z-index: 50;
      transform: rotate(-15deg);
    }
  }
}

@media screen and (min-width: 768px) {
  .mission__section {
    .mission__content {
      min-height: 200px;

      p {
        font-size: 1.1em;
      }
    }
  }
}
