* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

$primary_blue: #2f57f7;
$primary_gray: #505050;
$secondary_gray: #595959;
$light_gray: #6e6e6e;
$light: #e0e0e0;

.wrapped {
  width: 90%;
}

@import "./root.scss";
