$primary_blue: #2f57f7;
$primary_gray: #505050;
$secondary_gray: #595959;
$light_gray: #6e6e6e;
$very_light_gray: #858585;
$light: #e0e0e0;

* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

button {
  border: none;
  outline: none;
}

body,
html {
  height: initial;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

button,
h1,
h2,
h3,
p {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}

.wrapped {
  width: 90%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.section__title {
  font-size: 3.5em;
  font-weight: 500;
  color: $primary_gray;
  padding-bottom: 30px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .section__title {
    text-align: initial;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

@import "./normalize.scss";
@import "./root.scss";
